@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
margin: 0;
font-family: "Noto Sans", sans-serif;
}

.main_login{
width: 100vw;
height: 100vh;
background: #f0ffffde;
display: flex;
justify-content: center;
align-items: center;
}

.teste{
    width: 50%;
    height: 98%;
    background-color: #151515;
    border-radius: 20px;
    box-shadow:0px 10px 40px #00000056;
    display: flex;
    align-items:flex-start;
    justify-content: end;
    flex-direction: column;
}

.left_login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left_img{
    width: 5vw;
}

.right_login{
width: 50vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.card_login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    
}

.card_login > h1{
    color: #59A9F4;
    font-weight: 800;
    margin: 0;
}



.textfild{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0px;
}

.textfild > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #f0ffffde;
    color: #000;
    font-size: 12pt;
    box-shadow: 0px 10px 40px  #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfild{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfild > input::placeholder{
    color: #00000056;
}

.btn_cadastro{
    width: 100%;
    padding: 10px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #000;
    background: #59A9F4;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #0004ff52;
}

.btn_cadastro:hover {
    background-color: #3367d6;
}

.links{
    color: #f0ffffde;
}
.links a {
    color: #4285f4;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
.status {
    font-size: 12px;
    margin-top: 5px;
    color:#28a745;
  }

  .available {
    color: #28a745;
  }
  .unavailable {
    color: #dc3545;
  }

  .password-match {
    color: #28a745;
  }

  .password-mismatch {
    color: #dc3545;
  }